# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
# ## We should set etcd_member_name for etcd cluster. The node that is not a etcd member do not need to set the value, or can set the empty string value.
[all]
cp ansible_host=${cp}  ip=${cp_internal_address} etcd_member_name=etcd1
node1 ansible_host=${node1}   ip=${node1_internal_address}
node2 ansible_host=${node2}   ip=${node2_internal_address}
node3 ansible_host=${node3}   ip=${node3_internal_address}
node4 ansible_host=${node4}   ip=${node4_internal_address}

# ## configure a bastion host if your nodes are not directly reachable
# [bastion]
# bastion ansible_host=x.x.x.x ansible_user=some_user

[kube_control_plane]
cp

[etcd]
cp

[kube_node]
node1
node2
node3
node4

[calico_rr]

[k8s_cluster:children]
kube_control_plane
kube_node
calico_rr
